.cart {
    padding:10px;
    display:flex;
    height: max-content;
    background-color: white;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin:10px;
}

.cart__ad {
    width: 100%;
    margin-bottom: 10px;
}

.cart__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

.cart__left {
    flex:0.7;
}
.cart__right {
    flex:0.3;
    margin-right:15px;
   
}

.container {
    height:auto;
}

