.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  flex:1;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  
}

.header__searchInput {
  padding: 4px;
  border: none;
  width:100%;
}

.header__search:hover {
  border: 2px solid #cd9042;
}

.header__searchIcon {
  padding: 2px;
  height: 32px !important;
  width:35px;
  background-color: #e09129;
}


.header__searchIcon:hover {
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__nav > a {
  text-decoration: none;
}

.header__options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionActions {
  font-size: 13px;
  font-weight: 700;
  padding:10px;
}

.header__optionBasket:hover {
  color: rgb(248, 185, 10);
}

.header__options:hover{
  color: rgb(248, 185, 10);
}

.header__optionBasket__icon {
  padding:5px;
}

